__pycache__/
.env
flaskenv/
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
culture.log
access.log
error.log

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
coverage.txt